[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
pytube = "*"
dependency-injector = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
