[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
pytube = "*"
dependency-injector = "*"
python-magic = "*"
ujson = "*"
"ruamel.yaml" = "*"
xmltodict = "*"
dict2xml = "*"
pdfkit = "*"
html2image = "*"
bs4 = "*"
pdf2docx = "*"
imgkit = "*"
pypdf2 = "*"
html2text = "*"
img2pdf = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pre-commit = "*"
mypy = "*"

[requires]
python_version = "3.10"
