[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
pytube = "*"
dependency-injector = "*"
python-magic = "*"
ujson = "*"
"ruamel.yaml" = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pre-commit = "*"
mypy = "*"

[requires]
python_version = "3.10"
